In [2]:
from pyspark.sql import SparkSession

In [3]:

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

24/01/27 16:32:33 WARN Utils: Your hostname, pedro resolves to a loopback address: 127.0.1.1; using 192.168.100.35 instead (on interface enp4s0)
24/01/27 16:32:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/27 16:32:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Lendo os arquivos

In [4]:
path = "data/empresas/"
empresas = spark.read.csv(path, sep=';', inferSchema = True)

In [5]:
empresas.count()

4585679

In [6]:
path = 'data/estabelecimentos/'
estabelecimentos = spark.read.csv(path, sep=';', inferSchema=True)

In [7]:
estabelecimentos.count()

4836219

In [8]:
path = 'data/socios'
socios = spark.read.csv(path , sep=';', inferSchema=True)

## Operações Básicas

In [17]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,411,PEDREIRA SC LTDA,2240,28,"0,00",5,None
1,5813,ECOGRAPH COMERCIO E REPRESENTACOES LTDA,2062,49,"0,00",1,None
2,6000,AGUINALDO GABRIEL DOS SANTOS,2135,50,"0,00",1,None
3,11104,CONFECCOES DE ROUPAS E CORTINAS RHAMA LTDA,2062,49,"0,00",1,None
4,12610,MAQTALIA PRESTACAO DE SERVICOS LTDA,2062,49,"0,00",5,None

## Renomeando as colunas

In [10]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

In [15]:
for index, colName in enumerate(empresasColNames):
    empresas = empresas.withColumnRenamed(f'_c{index}', colName)

In [19]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [20]:
for index, colName in enumerate(estabsColNames):
    estabelecimentos = estabelecimentos.withColumnRenamed(f'_c{index}', colName)

In [21]:
for index, colName in enumerate(sociosColNames):
    socios = socios.withColumnRenamed(f'_c{index}', colName)

In [23]:
estabelecimentos.limit(5).toPandas()

24/01/27 16:38:06 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,403,1,30,1,ALUPE,2,20051103,0,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
1,2498,1,21,1,None,8,20020627,1,None,NaN,...,6789,None,None,None,None,NaN,None,None,None,NaN
2,4599,1,31,1,None,8,20081231,71,None,NaN,...,7121,None,None,None,None,NaN,None,None,None,NaN
3,13090,1,55,1,KI PAO PADARIA,3,20080827,21,None,NaN,...,6229,None,None,None,None,NaN,None,None,None,NaN
4,16903,1,60,1,None,8,19990909,2,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN

## Analisando os dados

In [24]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [25]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [26]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

## Convertendo string para double

In [29]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [30]:
empresas = empresas.withColumn('capital_social_da_empresa', f.regexp_replace('capital_social_da_empresa', ',','.'))

In [31]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,411,PEDREIRA SC LTDA,2240,28,0.00,5,None
1,5813,ECOGRAPH COMERCIO E REPRESENTACOES LTDA,2062,49,0.00,1,None
2,6000,AGUINALDO GABRIEL DOS SANTOS,2135,50,0.00,1,None
3,11104,CONFECCOES DE ROUPAS E CORTINAS RHAMA LTDA,2062,49,0.00,1,None
4,12610,MAQTALIA PRESTACAO DE SERVICOS LTDA,2062,49,0.00,5,None

In [32]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [34]:
empresas = empresas.withColumn('capital_social_da_empresa',empresas['capital_social_da_empresa'].cast(DoubleType()))

In [35]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

# Convertendo String em Date

In [37]:
estabelecimentos = estabelecimentos\
.withColumn(
    'data_situacao_cadastral', f.to_date(estabelecimentos.data_situacao_cadastral.cast(StringType()), 'yyyyMMdd')
).withColumn(
    'data_de_inicio_atividade', f.to_date(estabelecimentos.data_de_inicio_atividade.cast(StringType()), 'yyyyMMdd')
).withColumn(
    'data_da_situacao_especial', f.to_date(estabelecimentos.data_da_situacao_especial.cast(StringType()), 'yyyyMMdd')
)

In [38]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [55]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [58]:
socios = socios\
.withColumn(
    'data_de_entrada_sociedade', f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd')
)

# Seleção e consultas

In [40]:
empresas\
    .select('*')\
    .show(5, False)

+-----------+------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial             |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|411        |PEDREIRA SC LTDA                          |2240             |28                         |0.0                      |5               |NULL                       |
|5813       |ECOGRAPH COMERCIO E REPRESENTACOES LTDA   |2062             |49                         |0.0                      |1               |NULL                       |
|6000       |AGUINALDO GABRIEL DOS SANTOS              |2135             |50                         |0.0                      |1               |NULL                       |
|11104      |CONFECCOES DE ROUPAS E CORTINAS RHAMA LTDA|2062             |49                         |0.0                      |1               |NULL                       |
|12610      |MAQTALIA PRESTACAO DE SERVICOS LTDA       |2062             |49                         |0.0                      |5               |NULL                       |
+-----------+------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [41]:
empresas\
.select('natureza_juridica','porte_da_empresa')\
.show(5, False)

+-----------------+----------------+
|natureza_juridica|porte_da_empresa|
+-----------------+----------------+
|2240             |5               |
|2062             |1               |
|2135             |1               |
|2062             |1               |
|2062             |5               |
+-----------------+----------------+
only showing top 5 rows

# Trabalhando com valores nulos

In [43]:
df = spark.createDataFrame([(1, ), (2, ), (3, ), (None, )], ['data'])
df.toPandas()

   data
0   1.0
1   2.0
2   3.0
3   NaN

In [44]:
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|NULL|
+----+

In [45]:
df = spark.createDataFrame([(1.,), (2.,), (3.,), (float('nan'), )], ['data'])
df.toPandas()

   data
0   1.0
1   2.0
2   3.0
3   NaN

In [46]:
df.show()

+----+
|data|
+----+
| 1.0|
| 2.0|
| 3.0|
| NaN|
+----+

In [47]:
df = spark.createDataFrame([('1',), ('2',), ('3',), (None,)], ['data'])
df.toPandas()

   data
0     1
1     2
2     3
3  None

In [48]:
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|NULL|
+----+

In [51]:
socios.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios.columns]).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|   pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|          0|                     0|                          208|                1234|                    0|                        0|2038255|                  0|              1995432|                                  0|           0|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+

In [52]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [54]:
socios.na.fill('-').limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,3517,2,DIRCEU ABDALA,***646941**,16,20050912,NaN,***000000**,-,0,8
1,3999,2,PAULO CESAR AOKI,***190718**,49,19940502,NaN,***000000**,-,0,6
2,3999,2,MARIA VERA DO NASCIMENTO AOKI,***906198**,49,19940502,NaN,***000000**,-,0,6
3,4662,2,EDNA APARECIDA MACHADO HASMAN,***553528**,49,19940516,NaN,***000000**,-,0,7
4,4662,2,EDUARDO HASMAN,***595488**,49,19940516,NaN,***000000**,-,0,7

# Ordenando os dados

In [62]:
socios\
            .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
            .orderBy('ano_de_entrada', ascending=False)\
            .show(5, False)

+--------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social   |faixa_etaria|ano_de_entrada|
+--------------------------------+------------+--------------+
|SAMARA SILVA BARROSO DIAS       |6           |2021          |
|JOSE HUMBERTO PAIVA             |6           |2021          |
|LUCAS ELIAQUIM CARDOSO SANTANA  |3           |2021          |
|BENILDES BARBOSA RODRIGUES      |8           |2021          |
|FERNANDO DO NASCIMENTO FERNANDES|6           |2021          |
+--------------------------------+------------+--------------+
only showing top 5 rows

In [65]:
socios\
            .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
            .orderBy(['ano_de_entrada', 'faixa_etaria'], ascending=[False, False])\
            .show(5, False)

+-------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social  |faixa_etaria|ano_de_entrada|
+-------------------------------+------------+--------------+
|EMILIO PORTELLA DE SOUSA       |9           |2021          |
|APPARECIDA ALBANI DE LIMA      |9           |2021          |
|MARIZE DA ROSA LIMA            |9           |2021          |
|UMBERTO BASTOS SACCHELLI       |9           |2021          |
|MARIA RAIMUNDA DOS SANTOS LANZA|9           |2021          |
+-------------------------------+------------+--------------+
only showing top 5 rows

# Filtros

In [74]:
empresas\
    .where("capital_social_da_empresa==50")\
    .show(5, False)

+-----------+----------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial           |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+----------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|4823170    |GIANI GOES                              |2135             |50                         |50.0                     |1               |NULL                       |
|11455430   |LUCIMEIRI E. E. TORRES BORDADEIRA       |2135             |50                         |50.0                     |1               |NULL                       |
|17787135   |ALEX SOUZA COSTA 03720162192            |2135             |50                         |50.0                     |1               |NULL                       |
|18581522   |ROBSON ROCHA DE OLIVEIRA 06428136988    |2135             |50                         |50.0                     |1               |NULL                       |
|20149559   |ROSINEIDE MENEZES DE FREITAS 87791218453|2135             |50                         |50.0                     |1               |NULL                       |
+-----------+----------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [70]:
socios\
    .select('nome_do_socio_ou_razao_social')\
    .filter(socios.nome_do_socio_ou_razao_social.startswith("PEDRO"))\
    .filter(socios.nome_do_socio_ou_razao_social.endswith("CAVALCANTE"))\
    .limit(10)\
    .toPandas()

              nome_do_socio_ou_razao_social
0                   PEDRO GUEDES CAVALCANTE
1                 PEDRO GILBERTO CAVALCANTE
2                 PEDRO DE PAULA CAVALCANTE
3         PEDRO APHONSO DA SILVA CAVALCANTE
4  PEDRO VINICIUS ALVES DA SILVA CAVALCANTE
5                    PEDRO BRUNO CAVALCANTE
6                    PEDRO BRUNO CAVALCANTE
7       PEDRO HENRIQUE RODRIGUES CAVALCANTE
8           PEDRO LUCAS DA SILVA CAVALCANTE
9                     PEDRO JOSE CAVALCANTE

# Comando LIKE

In [75]:
df = spark.createDataFrame([('RESTAURANTE DO RUI',), ('Juca restaurantes ltda',), ('Joca Restaurante',)], ['data'])
df.toPandas()

                     data
0      RESTAURANTE DO RUI
1  Juca restaurantes ltda
2        Joca Restaurante

In [78]:
df\
    .where(f.upper(df.data).like('%RESTAURANTE%')).show(truncate=False)

+----------------------+
|data                  |
+----------------------+
|RESTAURANTE DO RUI    |
|Juca restaurantes ltda|
|Joca Restaurante      |
+----------------------+

In [82]:
empresas\
    .select('razao_social_nome_empresarial', 'natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa')\
    .filter(f.upper(empresas['razao_social_nome_empresarial']).like('%RESTAURANTE%'))\
    .show(15, False)

+---------------------------------------------+-----------------+----------------+-------------------------+
|razao_social_nome_empresarial                |natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+---------------------------------------------+-----------------+----------------+-------------------------+
|RESTAURANTE CATARINENSE LTDA                 |2062             |1               |0.0                      |
|VARGAS E VASCONCELLOS RESTAURANTE LTDA       |2062             |5               |0.0                      |
|J.I.V.M. RESTAURANTE E BAR DE RESENDE LTDA   |2062             |1               |0.0                      |
|MARCELO P LOPES CONFECCAO E RESTAURANTE      |2135             |5               |0.0                      |
|RESTAURANTE CAMINHO DAS ARVORES LTDA         |2062             |5               |0.0                      |
|BOM A BECA LANCHONETE E RESTAURANTE LIMITADA |2062             |3               |0.0                      |
|RESTAURANTE AMADEUSA LTDA                    |2062             |1               |0.0                      |
|ADRINY CHOPERIA E RESTAURANTE LTDA           |2062             |1               |0.0                      |
|MUNDO DOS RESTAURANTES LTDA                  |2062             |5               |0.0                      |
|RESTAURANTE W & Y LTDA                       |2062             |3               |10000.0                  |
|MARCOS APARECIDO DOS REIS RESTAURANTE        |2135             |1               |0.0                      |
|BUTANTA LANCHONETE E RESTAURANTE LTDA        |2062             |1               |0.0                      |
|JOSE FLAVIO BARBOSA DO AMARAL RESTAURANTE    |2135             |5               |0.0                      |
|RESTAURANTE E CHURRASCARIA ADAO ANDREOLA LTDA|2062             |5               |0.0                      |
|RANGOS RESTAURANTE LTDA                      |2062             |1               |0.0                      |
+---------------------------------------------+-----------------+----------------+-------------------------+
only showing top 15 rows

# Sumarização de dados

In [84]:
socios\
    .select(f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .where('ano_de_entrada >= 2010')\
    .groupBy('ano_de_entrada')\
    .count()\
    .orderBy('ano_de_entrada',ascending=True)\
    .show()

+--------------+------+
|ano_de_entrada| count|
+--------------+------+
|          2010| 79337|
|          2011| 83906|
|          2012| 80101|
|          2013| 83919|
|          2014| 80590|
|          2015| 80906|
|          2016| 81587|
|          2017| 90221|
|          2018| 99935|
|          2019|118248|
|          2020|125927|
|          2021| 56316|
+--------------+------+

In [85]:
empresas\
    .select('cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa')\
    .groupBy('porte_da_empresa')\
    .agg(
        f.avg("capital_social_da_empresa").alias("capital_social_medio"),
        f.count("cnpj_basico").alias("frequencia")
    )\
    .orderBy('porte_da_empresa', ascending=True)\
    .show()

+----------------+--------------------+----------+
|porte_da_empresa|capital_social_medio|frequencia|
+----------------+--------------------+----------+
|            NULL|    8.35421888053467|      5985|
|               1|   339994.5331350705|   3129043|
|               3|  2601001.7677092687|    115151|
|               5|   708660.4208249793|   1335500|
+----------------+--------------------+----------+

In [86]:
empresas\
.select("capital_social_da_empresa")\
.summary()\
.show()

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|  count|                  4585679|
|   mean|       503694.54785426764|
| stddev|     2.1118691490537477E8|
|    min|                      0.0|
|    25%|                      0.0|
|    50%|                   1000.0|
|    75%|                   7000.0|
|    max|         3.22014670262E11|
+-------+-------------------------+

# Joins

In [87]:
produtos = spark.createDataFrame(
    [
        ('1', 'Bebidas', 'Água mineral'), 
        ('2', 'Limpeza', 'Sabão em pó'), 
        ('3', 'Frios', 'Queijo'), 
        ('4', 'Bebidas', 'Refrigerante'),
        ('5', 'Pet', 'Ração para cães')
    ],
    ['id', 'cat', 'prod']
)

impostos = spark.createDataFrame(
    [
        ('Bebidas', 0.15), 
        ('Limpeza', 0.05),
        ('Frios', 0.065),
        ('Carnes', 0.08)
    ],
    ['cat', 'tax']
)

In [88]:
produtos.toPandas()

  id      cat             prod
0  1  Bebidas     Água mineral
1  2  Limpeza      Sabão em pó
2  3    Frios           Queijo
3  4  Bebidas     Refrigerante
4  5      Pet  Ração para cães

In [90]:
impostos.toPandas()

       cat    tax
0  Bebidas  0.150
1  Limpeza  0.050
2    Frios  0.065
3   Carnes  0.080

In [92]:
produtos.join(impostos, 'cat', how='inner')\
    .sort('id')\
    .show()

+-------+---+------------+-----+
|    cat| id|        prod|  tax|
+-------+---+------------+-----+
|Bebidas|  1|Água mineral| 0.15|
|Limpeza|  2| Sabão em pó| 0.05|
|  Frios|  3|      Queijo|0.065|
|Bebidas|  4|Refrigerante| 0.15|
+-------+---+------------+-----+

In [93]:
produtos.join(impostos, 'cat', how='left')\
    .sort('id')\
    .show()

+-------+---+---------------+-----+
|    cat| id|           prod|  tax|
+-------+---+---------------+-----+
|Bebidas|  1|   Água mineral| 0.15|
|Limpeza|  2|    Sabão em pó| 0.05|
|  Frios|  3|         Queijo|0.065|
|Bebidas|  4|   Refrigerante| 0.15|
|    Pet|  5|Ração para cães| NULL|
+-------+---+---------------+-----+

In [94]:
produtos.join(impostos, 'cat', how='right')\
    .sort('id')\
    .show()

+-------+----+------------+-----+
|    cat|  id|        prod|  tax|
+-------+----+------------+-----+
| Carnes|NULL|        NULL| 0.08|
|Bebidas|   1|Água mineral| 0.15|
|Limpeza|   2| Sabão em pó| 0.05|
|  Frios|   3|      Queijo|0.065|
|Bebidas|   4|Refrigerante| 0.15|
+-------+----+------------+-----+

In [95]:
produtos.join(impostos, 'cat', how='outer')\
    .sort('id')\
    .show()

+-------+----+---------------+-----+
|    cat|  id|           prod|  tax|
+-------+----+---------------+-----+
| Carnes|NULL|           NULL| 0.08|
|Bebidas|   1|   Água mineral| 0.15|
|Limpeza|   2|    Sabão em pó| 0.05|
|  Frios|   3|         Queijo|0.065|
|Bebidas|   4|   Refrigerante| 0.15|
|    Pet|   5|Ração para cães| NULL|
+-------+----+---------------+-----+

In [96]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [97]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [98]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [99]:
empresas_join =estabelecimentos.join(empresas, 'cnpj_basico', how='inner')

In [100]:
empresas_join.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [101]:
freq = empresas_join\
    .select(
        'cnpj_basico', 
        f.year('data_de_inicio_atividade').alias('data_de_inicio')
    )\
    .where('data_de_inicio >= 2010')\
    .groupBy('data_de_inicio')\
    .agg(f.count("cnpj_basico").alias("frequencia"))\
    .orderBy('data_de_inicio', ascending=True)

In [102]:
freq.toPandas()

24/01/27 18:19:15 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

    data_de_inicio  frequencia
0             2010      154159
1             2011      172677
2             2012      232480
3             2013      198424
4             2014      202276
5             2015      212523
6             2016      265417
7             2017      237292
8             2018      275435
9             2019      325922
10            2020      400654
11            2021      153275

In [104]:
freq.union(
    freq.select(
        f.lit("Total").alias("data_de_inicio"),
        f.sum(freq.frequencia).alias("frequencia")
    )
).show()

[6512,318s][warning][gc,alloc] Executor task launch worker for task 18.0 in stage 125.0 (TID 924): Retried waiting for GCLocker too often allocating 1048578 words
[6512,325s][warning][gc,alloc] Executor task launch worker for task 13.0 in stage 125.0 (TID 919): Retried waiting for GCLocker too often allocating 1048578 words
[6512,353s][warning][gc,alloc] Executor task launch worker for task 19.0 in stage 125.0 (TID 925): Retried waiting for GCLocker too often allocating 1048578 words

24/01/27 18:21:04 WARN TaskMemoryManager: Failed to allocate a page (8388608 bytes), try again.
24/01/27 18:21:04 WARN TaskMemoryManager: Failed to allocate a page (8388608 bytes), try again.
24/01/27 18:21:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/01/27 18:21:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/01/27 18:21:04 WARN TaskMemoryManager: Failed to allocate a page (8388608 bytes), try again.
24/01/27 18:21:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/01/27 18:21:04 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------+----------+
|data_de_inicio|frequencia|
+--------------+----------+
|          2010|    154159|
|          2011|    172677|
|          2012|    232480|
|          2013|    198424|
|          2014|    202276|
|          2015|    212523|
|          2016|    265417|
|          2017|    237292|
|          2018|    275435|
|          2019|    325922|
|          2020|    400654|
|          2021|    153275|
|         Total|   2830534|
+--------------+----------+

# Spark SQL

In [107]:
empresas.createOrReplaceTempView("empresasView")

In [108]:
spark.sql("SELECT * FROM empresasView").show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|        411|             PEDREIRA SC LTDA|             2240|                         28|                      0.0|               5|                       NULL|
|       5813|         ECOGRAPH COMERCIO...|             2062|                         49|                      0.0|               1|                       NULL|
|       6000|         AGUINALDO GABRIEL...|             2135|                         50|                      0.0|               1|                       NULL|
|      11104|         CONFECCOES DE ROU...|             2062|                         49|                      0.0|               1|                       NULL|
|      12610|         MAQTALIA PRESTACA...|             2062|                         49|                      0.0|               5|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [109]:
spark\
    .sql("""
        SELECT * 
            FROM empresasView 
            WHERE capital_social_da_empresa = 50
    """)\
    .show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|    4823170|                   GIANI GOES|             2135|                         50|                     50.0|               1|                       NULL|
|   11455430|         LUCIMEIRI E. E. T...|             2135|                         50|                     50.0|               1|                       NULL|
|   17787135|         ALEX SOUZA COSTA ...|             2135|                         50|                     50.0|               1|                       NULL|
|   18581522|         ROBSON ROCHA DE O...|             2135|                         50|                     50.0|               1|                       NULL|
|   20149559|         ROSINEIDE MENEZES...|             2135|                         50|                     50.0|               1|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [110]:
spark\
    .sql("""
        SELECT porte_da_empresa, MEAN(capital_social_da_empresa) AS Media 
            FROM empresasView 
            GROUP BY porte_da_empresa
    """)\
    .show(5)

+----------------+------------------+
|porte_da_empresa|             Media|
+----------------+------------------+
|            NULL|  8.35421888053467|
|               1| 339994.5331350705|
|               3|2601001.7677092687|
|               5| 708660.4208249793|
+----------------+------------------+

In [111]:
empresas_join.createOrReplaceTempView("empresasJoinView")

In [112]:
freq = spark\
    .sql("""
        SELECT YEAR(data_de_inicio_atividade) AS data_de_inicio, COUNT(cnpj_basico) AS count
            FROM empresasJoinView 
            WHERE YEAR(data_de_inicio_atividade) >= 2010
            GROUP BY data_de_inicio
            ORDER BY data_de_inicio
    """)

freq\
    .show()

24/01/27 18:48:31 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------+------+
|data_de_inicio| count|
+--------------+------+
|          2010|154159|
|          2011|172677|
|          2012|232480|
|          2013|198424|
|          2014|202276|
|          2015|212523|
|          2016|265417|
|          2017|237292|
|          2018|275435|
|          2019|325922|
|          2020|400654|
|          2021|153275|
+--------------+------+

In [113]:
freq.createOrReplaceTempView('freqView')
spark\
    .sql("""
        SELECT *
            FROM freqView
        UNION ALL
        SELECT 'Total' AS data_de_inicio, SUM(count) AS count
            FROM freqView
    """)\
    .show()

24/01/27 18:49:14 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+--------------+-------+
|data_de_inicio|  count|
+--------------+-------+
|          2010| 154159|
|          2011| 172677|
|          2012| 232480|
|          2013| 198424|
|          2014| 202276|
|          2015| 212523|
|          2016| 265417|
|          2017| 237292|
|          2018| 275435|
|          2019| 325922|
|          2020| 400654|
|          2021| 153275|
|         Total|2830534|
+--------------+-------+

In [114]:
empresas.write.csv(path="data/csv", mode='overwrite')